.tool{
    background-color: #F3F4F6; 
    min-height: 100vh;
    min-width: 100vw;
}
.tool-contain{
    max-width: 1240px;
    margin: auto;
}
.tool-box{
    margin-top: 5px;
    padding: 20px;
    height: 400px;
    width: 1200px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
}
.tool-p{
    font-size: 2.0rem;
}
.icon{
    margin-top: -40px;
    display: flex;
    column-gap: 7px;
}
.tool-icon{
    padding: 1rem;
    margin-top: 28px;
}
.tool-p1{
    margin-top: -21px;
}