.zootool{
    margin-top:25px;
    padding: 20px;
    height: 300px;
    width: 1200px;
    margin-bottom: 18px;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
}
.z-h2{
    margin-top: -1px;
   font-size: 1.5rem;
}
.z-p{
   font-size: 1.0rem;
}
.zt-down{
    margin-top: -5px;
    display: flex;
    column-gap: 156px;
}
.ztl-h3{
    font-size: 1.0rem;
}
.ztl-div{
    display: flex;
    column-gap: 16px;
}
.ztl-icon{
    margin-top: 7px;
    padding: 2px;
    height: 21px;
    background-color: red;
    border-radius: 6px;
    color: #fff;
    border: 1px solid red;
}
.zt-icon{
    margin-top: 7px;
    padding: 2px;
    height: 21px;
    background-color: green;
    border-radius: 6px;
    color: #fff;
    border: 1px solid green;
}
.zl-icon{
    margin-top: 7px;
    padding: 5px;
    height: 21px;
    background-color: yellow;
    border-radius: 6px;
    color: #000;
    border: 1px solid yellow;
}
.ztl-p{
    font-size: 0.8rem;
}
.ztr-h3{
    font-size: 1.0rem;
}
.ztr-p{
    font-size: 0.8rem;
}
.ztr-p1{
    font-size: 0.8rem;
}
.yo{
    display: flex;
}
